.ussr{
    display: flex;
}
.usa{
    display:block;
}
.cccp{
    width: 1260px;
    height: auto;
    margin: auto;
}    
.sans1{
   width: 1259px;
   height: 40px;
   background-color: navy;
   left: 30px;
   right: 0px;
   text-align: right;   
}
.white_text{
    color: white;
    font-size: 25px;
}
.text1{
    color:black;
    font-size: 20px;
    font-family: serif ;
}
.text2{
    color:black;
    font-size: 20px;
    font-family: serif ;
}
.text3{
    color:black;
    font-size: 20px;
    font-family: serif ;
}
.text4{
    color:black;
    font-size: 20px;
    font-family: serif ;
}
.text5{
    color:black;
    font-size: 20px;
    font-family: serif ;
}
.text6{
    color: orangered;
    font-size: 20px;
    font-family: serif;
}
.sans2{
    width: 859px;
    height: 330px;
    background-color: navy;
    text-align: center;
}
.text7{
    color:white;
    font-size: 15px;
    font-family: unset;
    margin: 0;
}
.sans3{
    width: 400px;
    height: 300px;
    background-color: dimgrey;
    text-align:center;
    border-radius:30px;
}
.text8{
    color:white;
    font-size: 15px;
    font-family: cursive;
}
.sans4{
    width: 400px;
    height: 40px;
    background-color: yellow;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
  }
.text⑨{
    color: red;
    font-size: 20px;
}
.sans5{
    width: 400px;
    height: 40px;
    background-color: navy;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
  }
.text10{
    font-size: 20px;
    color: yellow;
}
.k1{
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.l1{
    width: 10px;
    height: 80px;
    background-color: navy;
}
.k2{
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.l2{
    width: 10px;
    height: 80px;
    background-color: navy;
}
.k3{
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.l3{
    width: 10px;
    height: 80px;
    background-color: navy;
}
.k4{
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.l4{
    width: 10px;
    height: 80px;
    background-color: navy;
}
.k5{
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.l5{
    width: 10px;
    height: 80px;
    background-color: navy;
}
.k6{
    width: 80px;
    height:60px;
    background-color: red;
    border-radius:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.text11{
    font-size: 12px;
    color:white ;
font-family: cursive;
}
.sans6{
    width: 400px;
    height: 330px;
    background-color: navy;
}
.under1{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 247, 172);
}

.text12{
    font-size: 25px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.under2{
    width: 150px;
    height: 275px;
    background-color: rgb(255, 247, 172);
}
.under3{
    width: 280px;
    height: 40px;
    background-color:  rgb(255, 247, 172);
    text-align: right;
}
.tukiduki{
    font-size: 15px;
    color: rgb(255, 38, 0);
    margin: 0;
}
.under4{
    width: 100px;
    height:275px;
    background-color:  rgb(255, 247, 172);
}
.HITACHI{
    width: 280px;
    height: 45px;
    background-color:  rgb(255, 247, 172);
}
.TOKIWA{
width: 150px;
height: 45px;
background-color:rgb(255, 247, 172);
}
.big{
    width: 100%;
    height: 380px;
    background-color:rgb(255, 247, 172);
}
.lastword{
    font-size: 20px;
    color: black;
    margin: 0;
}